<div class="container mt-4">
  <h3>Add A New Survey</h3>
  <div class="container mt-4">
    <%= simple_form_for @survey do |f| %>
      <div class="row col-md-6">
        <%= f.input :question, input_html: {class: 'input'}, label: "Question:  ", label_html: {class: 'label'} %>
      </div>
      <div class="row col-md-6">
        <%= f.button :submit, label_html: {class: 'btn btn-default'}%>
      </div>
    <% end %>
  </div>
</div>